.btn_cart{
    background-color: rgb(251, 211, 53);
}

.text_cart{
font-weight: bold;
}

.btn-link{
        color: black;
        font-weight: bold; 
        text-decoration: none;
    
}

.my-class{
    width: 100px!important;
    min-width: unset!important;
}

mat-expansion-panel-header{
    background-color: #6c757d0d;
}

.mat-expansion-panel-header-title,.main {
   
font-family: 'Josefin Sans', sans-serif; 
  }