<div class="p-2 my-container active-cont">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
    <h5 class="fw-bold">Account Setting</h5>
  </div>
  <!-- code start -->
  <div class="container mb-4 mt-3">
    <div class="row">
      <div class="col-12">
        <h5>Personal Information - Edit</h5>
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter First Name</mat-label>
            <input matInput type="text">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
          <h6>Your Gender</h6>
          <div class="example-container">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
            </mat-radio-group>
          </div>
      </div>
    </div>
    <div class="row" style="margin-top: 45px;">
      <div class="col-12">
        <h5>Email Address  <span style="font-weight: 5px;"><a>Edit</a></span> <span><a>Change Password</a></span></h5>
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter Email</mat-label>
            <input matInput type="email">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 45px;">
      <div class="col-12">
        <h5>Mobile Number  <span style="font-weight: 5px;"><a>Edit</a></span></h5>
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter Mobile Number</mat-label>
            <input matInput type="number">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <!-- code ends -->
</div>